

<div id="main">
    <div class="cleared reset-box"></div>
<div class="bar nav">
<div class="nav-outer">
<div class="nav-wrapper">
<div class="nav-inner">
	<ul class="hmenu">
		<li>
			<a href="./index.html" class="active">Home</a>
		</li>	
		<li>
			<a href="./index.html">About Us</a>
		</li>	
		<li>
			<a href="./index.html">Contact Us</a>
		</li>	
	</ul>
</div>
</div>
</div>
</div>
<div class="cleared reset-box"></div>
<div class="box sheet">
        <div class="box-body sheet-body">
            <div class="layout-wrapper">
                <div class="content-layout">
                    <div class="content-layout-row">
                        <div class="layout-cell content">
<div class="box post">
    <div class="box-body post-body">
<div class="post-inner article">
                                <div class="postcontent">
<div class="content-layout">
    <div class="content-layout-row">
    <div class="layout-cell layout-item-0" style="width: 100%;">
        <p><img src="./images/york-minster-at-sunset-2.jpg" alt="an image" id="preview-image" name="preview-image" width="437" height="291" /></p>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris. </p>
        
        <p>Aenean sollicitudin imperdiet arcu, vitae dignissim est posuere id.</p>
        
        <p><a href="./index.html">Read more</a></p>
    </div>
    </div>
</div>
<div class="content-layout-br layout-item-1">
</div><div class="content-layout">
    <div class="content-layout-row">
    <div class="layout-cell layout-item-2" style="width: 100%;">
        <p>Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris. Aenean sollicitudin imperdiet arcu, vitae dignissim est posuere id.<br /></p>
    </div>
    </div>
</div>
<div class="content-layout">
    <div class="content-layout-row">
    <div class="layout-cell layout-item-2" style="width: 50%;">
        <div style="margin-left: 2em">             </div>Suspendisse pharetra auctor pharetra. Nunc a sollicitudin est.<br />
        Donec vel neque in neque porta venenatis sed sit amet lectus.<br />
        Curabitur ullamcorper gravida felis, sit amet scelerisque lorem iaculis sed.
        
        <div style="margin-left: 2em">         </div>
    </div><div class="layout-cell layout-item-2" style="width: 50%;">
        <p></p>
        
        <ul>
            <li>Nunc a sollicitudin est. Curabitur ullamcorper gravida felis, sit amet scelerisque lorem iaculis sed. </li>
        
            <li>Onec vel neque in neque porta venenatis sed sit amet lectus.</li>
        </ul>
        
        <p></p>
    </div>
    </div>
</div>
<div class="content-layout">
    <div class="content-layout-row">
    <div class="layout-cell layout-item-3" style="width: 33%;">
        <p>Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris.<br /></p>
    </div><div class="layout-cell layout-item-3" style="width: 34%;">
        <p>Aenean sollicitudin imperdiet arcu, vitae dignissim est posuere id.<br /></p>
    </div><div class="layout-cell layout-item-3" style="width: 33%;">
        <p>Donec vel neque in neque porta venenatis sed sit amet lectus.<br /></p>
    </div>
    </div>
</div>

                </div>
                <div class="cleared"></div>
                </div>

		<div class="cleared"></div>
    </div>
</div>

                          <div class="cleared"></div>
                        </div>
                        <div class="layout-cell sidebar1">
<div class="box block">
    <div class="box-body block-body">
                <div class="bar blockheader">
                    <h3 class="t">Latest Post</h3>
                </div>
                <div class="box blockcontent">
                    <div class="box-body blockcontent-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

<p>Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris.</p>

<p><br /></p>

<p><span style="color: rgb(57, 65, 61);">Aenean sollicitudin imperdiet arcu, vitae dignissim est posuere id.</span><br /></p>

<p><span style="color: rgb(57, 65, 61);">Suspendisse pharetra auctor pharetra. Nunc a sollicitudin est.</span><span style="color: rgb(57, 65, 61);"><br /></span></p>                
                                		<div class="cleared"></div>
                    </div>
                </div>
		<div class="cleared"></div>
    </div>
</div>

                          <div class="cleared"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cleared"></div>
            <div class="footer">
                <div class="footer-body">
                            <div class="footer-text">
                                <p>Copyright © 2013. All Rights Reserved.</p>
                                <div class="cleared"></div>
                                <p class="page-footer">Designed by <a href="http://www.websitedesigndurban.com" target="_blank">www.websitedesigndurban.com</a>.</p>
                            </div>
                    <div class="cleared"></div>
                </div>
            </div>
    		<div class="cleared"></div>
        </div>
    </div>
    <div class="cleared"></div>
</div>
